$text-color: #6f6f6f;
$border-color: #b7b7b7;
$background-color: #fefefe;
$overlay-color: #f2f2f2;
$primary: #ee4760;
$primary-dark: #d1344b;
$danger: #fd2646;
$link: #30d9f4;
$white: #fff;

*{
 font-family: -apple-system, Roboto, "Segoe UI", "Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*{
    box-sizing: border-box;
}